[Unit]
Description=orientdb-node
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
KillMode=none
ExecStartPre=/bin/sh -c "docker pull quay.io/cleawing/orientdb"
ExecStart=/bin/sh -c "docker run  --name orientdb-node-%i -p $COREOS_PRIVATE_IPV4::2424 -p $COREOS_PRIVATE_IPV4::2480 -p $COREOS_PRIVATE_IPV4::2434 -v /var/run/docker.sock:/var/run/docker.sock quay.io/cleawing/orientdb /sbin/my_init -- /opt/orientdb.sh"
ExecStop=/bin/sh -c "docker stop orientdb-node-%i"
ExecStopPost=-/bin/sh -c "docker kill orientdb-node-%i"
ExecStopPost=-/bin/sh -c "docker rm orientdb-node-%i"
Restart=on-failure

[Install]
WantedBy=multi-user.target