[Unit]
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=180
KillMode=none
ExecStartPre=/bin/sh -c "docker pull quay.io/cleawing/orientdb"
ExecStart=/bin/sh -c "docker run  --name %m.%p.%i -e GROUP_NAME=%p -p $COREOS_PUBLIC_IPV4::2424 -p $COREOS_PUBLIC_IPV4::2480 -p $COREOS_PRIVATE_IPV4::2434 -v /var/run/docker.sock:/var/run/docker.sock quay.io/cleawing/orientdb /sbin/my_init -- /opt/orientdb.sh"
ExecStartPost=/bin/sh -c "fleetctl start %p.announce@%i.service" 
ExecStop=/bin/sh -c "docker stop -t 30 %m.%p.%i"
ExecStopPost=-/bin/sh -c "docker kill %m.%p.%i"
ExecStopPost=-/bin/sh -c "docker rm %m.%p.%i"
ExecStopPost=/bin/sh -c "fleetctl destroy %p.announce@%i.service"
SuccessExitStatus=0 2
Restart=on-failure

[Install]
WantedBy=multi-user.target